@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-black;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}
